* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: 
        linear-gradient(
            rgba(255, 255, 255, 0.5), 
            rgba(255, 255, 255, 0.5)
        ),
        url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    top: 0;

}
.bannercat {
    position: static;
    top: 0;
    background-image: url(../img/bannercat.png);
    background-size: cover;
    width: 100%;
    height: 500px;
}

.bannercast {
    position: static;
    top: 0;
    background-image: url(../img/bannercast.png);
    background-size: cover;
    width: 100%;
    height: 500px;
}

h1{
    text-align: center;
    font-size: 40px;
}

.a{
    color: rgb(0, 0, 0);
}

.pictienda{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;

}

.pictienda section {
    padding: 10px;
    width: 100%;
}

footer{
    padding: 75px;
    text-align: center;
    font-size: 40px;
    background-color: black;
}

footer a {
    color: white;
}

footer p {
    color: white;
}

@media screen and (max-width: 800px){
    h1{
        font-size: 30px;
    }

    p{
        font-size: 15px;
    }
    
    header {
        width: 100%;
        margin: 0;
        top: 0;
    }

    .bannercat,.bannercast {
        width: 100%;
        height: 250px;
        position: static;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .bannercast, .bannercat img {
        width: 100%;
        justify-content: center;
      }
   
    .pictienda {
        display: flex;
        flex-wrap: wrap;
      }
    
     .pictienda section {
        width: 50%;
      }

      section img {
        width: 205px;
        height: 350px;
      }

      body{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
     footer {
        width: 100%;
      }

    footer a {
        font-size: 20px;
    }
    }

